.archimate-svg-container {
  background: white;
  height: 100%;
  margin: 0;
  overflow: scroll;
  padding: 0.5em;
  position: relative;
  width: 100%;
}

.archimate-diagram-view {
  height: 98vh;
  padding: 0;
  flex: 1 1 auto;
}

/* Reset HTML elements used in SVG ArchiMate diagrams to prevent site
   styles from leaking into the SVG */

svg p {
  line-height: normal;
  width: auto;
}

svg table {
  border: 0;
  margin: 0;
  max-width: none;
  width: auto;
}

table .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}

table .checkbox input {
  margin-top: 2px;
}

.card {
  overflow-x: scroll;
}
